/*colors*/
$color-gray-light: rgba(242, 242, 242, 0.8);
$color-white: rgba(255, 255, 255,0.9);
$color-black-dark: rgba(0, 0, 0, 0.8); 
$color-black-gray: rgba(0, 0, 0, 0.5);

$color-blue-primary: #0875a0;
$color-background-primary: rgb(230, 230, 230);


/*font*/
$font-primary: 'Avenir', Helvetica, Arial, sans-serif;