@import '@/sass/_variable.scss';

#app {
    font-family: $font-primary;
    margin: 0;
    background-color: $color-background-primary;
}

.container-flur {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}  

.container{
    margin-left: 8em;
    margin-right: 8em;
    min-height: 25em;
}

.link-group {
    display: flex;
    align-items: center;

    a {
        flex: 1;
    }
}

.bg-white {
    background-color: $color_white;
}

.btn-success {
    padding: 0.5em;
    background: rgba(0, 153, 51, 0.9);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-weight: 800;

    .btn-success:hover {
        background: rgba(0, 153, 51, 2);
    }
}
.btn-danger {
    background: red;
    color: #fff;
    font-weight: 600;
    padding: 5px;
}

.btn-tab {
    width: 100%;
}

.danger{
    color: red;
}

@media all and (max-width: 720px) {
    .container{
        margin-left: 2em;
        margin-right: 2em;
        min-height: 25em;
    }
}