@import '@/sass/_variable.scss';

.nav {
    
    .nav-bar {
        display: flex;
        text-align: center;
        background-color: $color-blue-primary;
        margin: auto;
        min-height: 1em;
        padding: 1em;
        
        li {
            list-style: none;
            flex: 1;

            a {
                color: $color-white;
                font-weight: 800;
                font-size: 1.5em;
                text-decoration: none;
            }
        }

        li:hover {
            cursor: pointer;
            color: $color-black-gray;

            a:hover {
                cursor: pointer;
                color: $color-black-gray;
            }
        }
    }
}